.rounded-br-148{
  border-bottom-right-radius: 148px;
}
.rounded-bl-148 {
  border-bottom-left-radius: 148px;
}
.filter-menue-wrapper{
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  position: relative;
  scrollbar-width: none;
}
li.shearbutton{
  transition: all .6s ease-in-out;
}
li.sh-btn-active{
  transform: translateX(50px);
}

li.sh-btn-inactive{
 transform: translateX(1000px);
}

div.filter-icon-wrapper {
  z-index: 110;
}
.filter-menue-wrapper > li{
 scroll-snap-align: start;
}

.animation{
  animation-name: fedIn 1s ease-in-out;
}
@keyframes fadeIn {
  0% { background-color: transparent; }
  100% { background-color: #ff0000; }
}
ul.menue_wrapper{
  transition: all 2s ease-in-out;
  z-index: 100;
}
ul.filterOut{
  transform: translateX(-10000px);
}


.fileterActive{
  transform: translateX(0);
}